body {
    margin: 0px;
}
 
.but {
    color: blueviolet;
    background-color: yellowgreen;
    border-color: yellowgreen;
}

video {
    max-width: 100%;
    height: auto;

} 

.one{
    background-image: url("/images/one.jpg");
    background-size: cover;
    height: 700px;
}


.second {
    background-image: url("/images/two.jpg");
    background-size: cover;
    height: 700px;
}

.third {
    background-image: url("/images/three.jpg");
    background-size: cover;
    height: 700px;


}


#hero{
    position: relative;
}
#hero video{
    height: 100vh;
    width: 100%;
    background-position: absolute;
    z-index: 10;
    object-fit: cover;
}
#hero .content{
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
}
.content h1{
    color: #fff;
    font-weight: 600;
    
}
.content button{
    color: blue;
    background-color: yellowgreen;
    padding: 10px 40px;
    border-color: yellowgreen;
}

footer{
    background-image: url("/images/pic1.webp"); 
    background-repeat: no-repeat;
    background-size: cover;
}